<div class="card-title">
  <h5>Fikir Geliştir</h5>
</div>
<div class="row">
  <div class="col" *ngFor="let detail of template.templateDetail; let i = index">
    <div class="row" *ngIf="
        template.templateDetail.length >= 1 &&
        template.templateDetail[0].header != ''
      ">
      <div class="col-md-12">
        <div class="card text-center p-3">
          <div class="card-body">
            <h6 class="card-title">
              <span class="align-baseline"> {{ detail.header }}</span>
            </h6>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <textarea class="form-control textarea" [(ngModel)]="inputText[detail.id]"
            (keydown.enter)="sendMessage(detail.id)"></textarea>
        </div>
      </div>
    </div>

    <div class="row" *ngFor="let msg of messages">
      <div class="col-md-12" *ngIf="msg.clientuniqueid == detail.id">
        <div class="card text-center p-3">
          <div class="card-body">
            <p>
              {{ msg.messageText }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3 offset-9">
    <button type="button" (click)="nextComment()" class="btn btn-round btn-success btn-block btn-lg float-right">
      Yorumla
    </button>
  </div>
</div>