<div class="row">
  <div class="col-sm-6">
    <h4 class="card-title">Oyla</h4>
  </div>
  <div class="col-sm-6">

  </div>
</div>

<div *ngFor="let item of categorizedMessages">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">
            <div class="row">
              <div class="col-sm-6">
                <h6 class="card-title">{{ item.category.categoryTitle }}</h6>
              </div>
              <div class="col-sm-6">

              </div>
            </div>
          </h4>

          <div class="alert alert-primary fade show" *ngFor="let categoryMessage of item.messages">
            <span><i class="nc-icon nc-bulb-63"></i>
              {{ categoryMessage.messageText }}</span>

              <button class="btn btn-warning btn-round float-right btn-sm" (click)="setVote(categoryMessage)" style="margin: 0 5px !important;"><i class="fa fa-heart"></i> Oyla ({{categoryMessage.voteCount}}) </button>
            <button type="button" (click)="getComment(categoryMessage)"
              class="btn btn-danger btn-round float-right btn-sm" style="margin:0 !important">Yorumlar 
              ({{categoryMessage.commentCount}}) </button>
              
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="row"  *ngIf="!isUser">
  <div class="col-md-3 offset-9">
    <button
      type="button"
      (click)="nextReport()"
      class="btn btn-round btn-success btn-block btn-lg float-right"
    >
      RAPORLA
    </button>
  </div>
</div>

<div class="modal fade" id="modalComment" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <form #templateForm="ngForm" class="container mt-3">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header justify-content-center"><button aria-label="Close" class="close" data-dismiss="modal"
            type="button"><i class="nc-icon nc-simple-remove"></i></button>
          <h4 class="title title-up">Yorumlar </h4>
        </div>
        <div class="modal-body">

          <div class="alert alert-primary fade show" *ngFor="let comment of message.comments">
            <span><i class="nc-icon nc-bulb-63"></i>
              {{ comment.commentText }}</span>


          </div>
        </div>

      </div>
    </div>
  </form>
</div>

<style>
  .modal-body {
    padding: 20px 10px;
  }

  .checkbox {
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .messaje-list-title {
    font-weight: bold;
    font-size: 16px;
  }

  .message-list {
    margin: 10px 10px 10px 10px;
  }

  .categorized-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
  }
</style>