// COLOR VARIABLES

$color-theme: #E55820;

$color-bg: #F4F4F4;
$color-sidebar-bg: #2E3448;

$color-text-main: #6B6760;
$color-text-secondary: #6A6660;

$color-green: #77D28F;
$color-cyan: #D2EFEE;
$color-blue: #D7F3FF;
$color-yellow: #FFFDE7;

$color-white: #fff;
$color-dark: #212121;
$color-gray-lighter: #FAFAFA;
$color-gray-light: #f5f5f5;
$color-gray-less-light: #BDBDBD;
$color-gray: #9E9E9E;
$color-gray-dark: #616161;
$color-gray-darker: #424242;
$color-blue-dark: #2E3448;
$color-sidebar-text-seconder: #95A5DC;

$color-theme-list: ("green": $color-green, "cyan": $color-cyan, "warning": $color-yellow, "blue": $color-blue);

// LAYOUT VARIABLES

$layout-horizontal-padding: 2rem;
$layout-horizontal-padding-md: 1rem;
$layout-horizontal-padding-sm: .5rem;
$layout-vertical-padding: 1rem;
$layout-vertical-padding-md: .5rem;
$layout-vertical-padding-sm: .25rem;
$layout-min-form-control-height: 3rem;

$font-size-list: ("xs": .8rem, "sm": .9rem, "md": 1rem, "lg": 1.25rem, "xl": 1.5rem, "xxl": 2rem);
$border-radius-list: ("xs": 1px, "sm": 3px, "md": 5px, "lg": 10px, "xl": 15px);
// BREAKPOINT VARIABLES

$to-mobile-mini: 400;
$to-mobile: 576;
$to-tablet-portrait: 767;
$to-tablet-landscape: 1024;
$to-screen: 1200;
$to-screen-large: 1400;

