<div class="d-flex justify-content-end mt-3">
  <span class="pill-title text-bold" *ngIf="retroRight != null" [ngClass]="
  retroRight.commentRight > 0 ? 'text-success' : 'text-danger'
">Yorum Hakkı: {{ retroRight.commentRight }}</span>
</div>

<div class="categories mt-5">
  <div class="category" *ngFor="let tmp of template.templateDetail">
    <h5 *ngIf="GetHeaderMessage(tmp.id).length>0">{{tmp.header}}</h5>
    <div *ngFor="let msg of GetHeaderMessage(tmp.id)" class="mt-3">
      <div class="card card-theme box-shadow-sm border-radius-lg">
        <div class="card-body p-2 d-flex justify-content-between">
          <div class="content">
            {{ msg.messageText }}
          </div>
          <button [disabled]="retroRight.commentRight <= 0" (click)="addCommentModal(msg)"
            class="btn btn-theme btn-vertical-padding btn-horizontal-padding-md ml-3">Yorum Yap</button>
        </div>
      </div>
      <div class="category__comments mt-3" *ngFor="let com of msg.comments">
        <div class="card card-theme card-theme--blue w-75 box-shadow-xs">
          <div class="card-body p-1 text-dark">
            {{ com.commentText }}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- <div class="row" *ngIf="!isUser"  >
  <div class="col-md-3 offset-9">
    <button
     
      (click)="nextCategorize()"
      class="btn btn-round btn-success btn-block btn-lg float-right"
    >
      OYLA
    </button>
  </div>
</div> -->






<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <form #templateForm="ngForm" (ngSubmit)="sendComment()">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Yorum</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <textarea style="height: auto !important;" rows="5" class="form-control"
              [disabled]="retroRight.commentRight == 0" [(ngModel)]="commentText"
              [ngModelOptions]="{ standalone: true }" (keydown.enter)="sendComment()"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-outline-theme btn-block btn-vertical-padding"
            data-dismiss="modal">
            Vazgeç
          </button>

          <button type="button" (click)="sendComment()"
            class="btn btn-theme btn-block mt-0 btn-vertical-padding justify-content-center">
            Gönder
          </button>

        </div>
      </div>
    </div>
  </form>
</div>