<div class="row">
  <div class="col-sm-6">
    <h5 class="card-title float-left">Konu Seç</h5>
  </div>
  <div class="col-sm-6">
    <button
      type="button"
      data-toggle="modal"
      data-target="#subjectModal"
      class="btn btn-round btn-primary float-right btn-subject-create"
    >
      Konu Ekle
    </button>
  </div>
</div>
<div class="row" *ngFor="let subject of subjects; let i = index">
  <div class="col-md-12">
    <button
      (click)="selectSubject(subject)"
      class="card text-center p-3 btn"
      [ngClass]="{ active: selectSubjectId == subject.id }"
    >
      <div class="card-header">
        <h6 class="title">{{ subject.subjectTitle }}</h6>
      </div>
      <div class="card-body w-100">
        <span style="text-transform: initial; font-weight: 400">{{
          subject.subjectDescription
        }}</span>
      </div>
    </button>
  </div>
</div>

<div
  class="modal fade"
  id="subjectModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="ModalLabel"
  aria-hidden="true"
>
  <form
    #templateForm="ngForm"
    class="container mt-3"
    (ngSubmit)="saveSubject()"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <i class="nc-icon nc-simple-remove"></i>
          </button>
          <h4 class="title title-up">
            {{ isUpdate ? "Konu Güncelle" : "Konu Ekle" }}
          </h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label>Konu</label>
                <input
                  style="max-height: max-content"
                  rows="10"
                  class="form-control textarea"
                  [(ngModel)]="subject.subjectTitle"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label>Konu</label>
                <textarea
                  style="max-height: max-content"
                  rows="10"
                  class="form-control textarea"
                  [(ngModel)]="subject.subjectDescription"
                  [ngModelOptions]="{ standalone: true }"
                ></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="left-side">
            <button
              type="button"
              class="btn btn-default btn-link"
              data-dismiss="modal"
            >
              Vazgeç
            </button>
          </div>
          <div class="divider"></div>
          <div class="right-side">
            <button type="submit" class="btn btn-success btn-link">
              Kaydet
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
