



<div class="create-retro d-flex justify-content-end" style="background-image: url('assets/img/retro-bg.png')">
 
  <form #configForm="ngForm"  (ngSubmit)="saveConfig()" class="create-retro__form">
    <h3 class="card-title">Retro Başlat</h3>
    <div class="form-group">
      <label>Fikir Hakkı Sayısı</label>
      <input type="number" [disabled]="isCheckFailed()" class="form-control" [(ngModel)]="config.ideaRight"
        [ngModelOptions]="{ standalone: true }" />
    </div>
    <div class="form-group ">
      <label>Yorum Hakkı Sayısı</label>
      <input type="number" [disabled]="isCheckFailed()" class="form-control" [(ngModel)]="config.commentRight"
        [ngModelOptions]="{ standalone: true }" />
    </div>
    <div class="form-group ">
      <label>Oylama Hakkı Sayısı</label>
      <input type="number" [disabled]="isCheckFailed()" class="form-control" [(ngModel)]="config.voteRight"
        [ngModelOptions]="{ standalone: true }" />
    </div>
    <div class="d-flex justify-content-end">
      <button type="submit" [disabled]="isCheckFailed()" class="btn btn-theme btn-vertical-padding btn-horizontal-padding">Başlat</button>
    </div>
  </form>
</div>





