@import "../abstracts/variables";

.card-theme {
  border: transparent;
  border-radius: .75rem;
  padding: 1rem !important;

  @each $name, $value in $color-theme-list {
    &--#{$name} {
      background-color: $value;
    }
  }
}
