@import "../abstracts/variables";
@import "../abstracts/mixins";

.group-card {
  &__title {
    font-weight: 500;
    color: $color-theme;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  &__description {
    color: $color-gray-dark;
    font-size: .9rem;
    margin-bottom: 1rem;
  }

  &__status {
    font-weight: 500;
  }

  &__actions {
    white-space: nowrap;
  }
}
