<div class="row">
  <div class="col-sm-6">
    <h4 class="card-title">Kategorize Et</h4>
  </div>
  <div class="col-sm-6">
    <button
      data-toggle="modal"
      data-target="#categorizeModal"
      (click)="selectMessage()"
      class="btn btn-round btn-primary float-right"
    >
      Kategorize Et
    </button>
  </div>
</div>

<div *ngFor="let item of categorizedMessages">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">
            <div class="row">
              <div class="col-sm-6">
                <h6 class="card-title">{{ item.category.categoryTitle }}</h6>
              </div>
              <div class="col-sm-6">
                <button
                  (click)="deleteCategory(item)"
                  class="btn btn-round btn-danger float-right"
                >
                  <i class="nc-icon nc-simple-remove"></i>
                </button>
              </div>
            </div>
          </h4>

          <div
            class="alert alert-primary fade show"
            *ngFor="let categoryMessage of item.messages"
          >
            <span
              ><i class="nc-icon nc-bulb-63"></i>
              {{ categoryMessage.messageText }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngFor="let msg of messages">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="form-check mt-3">
            <div class="form-check">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  [(ngModel)]="msg.isCategorized"
                  type="checkbox"
                />
                {{ msg.messageText }} <span class="form-check-sign"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3 offset-9">
    <button
      data-toggle="modal"
      data-target="#categorizeModal"
      (click)="selectMessage()"
      class="btn btn-round btn-success btn-block btn-lg float-right"
    >
      OYLA
    </button>
  </div>
</div>

<div
  class="modal fade"
  id="categorizeModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="ModalLabel"
  aria-hidden="true"
>
  <form
    #templateForm="ngForm"
    (ngSubmit)="saveCategorized()"
    class="container mt-3"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <i class="nc-icon nc-simple-remove"></i>
          </button>
          <h4 class="title title-up">Kategori Ekle</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label class="categorized-title">Başlık Giriniz</label>
                <input
                  style="max-height: max-content"
                  rows="10"
                  class="form-control textarea"
                  [(ngModel)]="categorized.title"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label class="messaje-list-title"></label>
                <div *ngFor="let slct of selectedMessages">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-header message-list">
                          {{ slct.messageText }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="left-side">
            <button
              type="button"
              class="btn btn-default btn-link"
              data-dismiss="modal"
            >
              Vazgeç
            </button>
          </div>
          <div class="divider"></div>
          <div class="right-side">
            <button type="submit" class="btn btn-success btn-link">
              Oluştur
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<style>
  .modal-body {
    padding: 20px 10px;
  }

  .checkbox {
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .messaje-list-title {
    font-weight: bold;
    font-size: 16px;
  }

  .message-list {
    margin: 10px 10px 10px 10px;
  }

  .categorized-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
  }
</style>
