<div class="main-content">
  <div class="row">
    <div class="col-md-12 ml-auto mr-auto">
      <div class="card card-plain">
        <div class="card-body">
          <div class="card-title">
            <div class="row">
              <div class="col-sm-6">
                <h5>Şablonlar</h5>
              </div>
              <div class="col-sm-6">
                <button
                  type="button"
                  data-toggle="modal"
                  data-target="#templateModal"
                  class="btn btn-round btn-primary float-right btn-template-create"
                >
                  Şablon Ekle
                </button>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="templates.length > 0">
            <div
              class="col-md-3"
              *ngFor="let template of templates; let i = index"
            >
              <div
                *ngIf="
                  template.templateDetail.length >= 1 &&
                  template.templateDetail[0].header != ''
                "
                class="card text-center p-3"
              >
                <div class="card-body w-100">
                  <h6 class="card-title">
                    |
                    <span
                      class="align-baseline"
                      *ngFor="
                        let detail of template.templateDetail;
                        let j = index
                      "
                    >
                      {{ detail.header }} |
                    </span>
                  </h6>
                  <button
                    type="button"
                    (click)="
                      showSwal(
                        'warning-message-and-confirmation-delete',
                        template.id
                      )
                    "
                    class="btn btn-danger"
                  >
                    <i class="fa fa-trash fa-2x"></i>
                  </button>
                  <button
                    type="button"
                    (click)="editTemplate(template.id)"
                    class="btn btn-primary"
                  >
                    <i class="fa fa-pencil fa-2x"></i>
                  </button>
                </div>
              </div>

              <div
                *ngIf="
                  template.templateDetail.length == 1 &&
                  template.templateDetail[0].header == ''
                "
                class="card text-center shadow-lg p-3"
              >
                <div class="card-body w-100">
                  <h6 class="card-title">
                    <span class="align-baseline"> Şablonsuz devam et </span>
                  </h6>
                  <button
                    type="button"
                    (click)="
                      showSwal(
                        'warning-message-and-confirmation-delete',
                        template.id
                      )
                    "
                    class="btn btn-danger"
                  >
                    <i class="fa fa-trash fa-2x"></i>
                  </button>
                  <button
                    type="button"
                    (click)="editTemplate(template.id)"
                    class="btn btn-primary"
                  >
                    <i class="fa fa-pencil fa-2x"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div
            class="modal fade"
            id="templateModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="ModalLabel"
            aria-hidden="true"
          >
            <form
              #templateForm="ngForm"
              class="container mt-3"
              (ngSubmit)="saveTemplate()"
            >
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header justify-content-center">
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <i class="nc-icon nc-simple-remove"></i>
                    </button>
                    <h4 class="title title-up">Şablon Oluştur</h4>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-sm-6"></div>
                      <div class="col-sm-6">
                        <button
                          type="button"
                          class="btn btn-primary mb-2 float-right"
                          (click)="addHeader()"
                        >
                          <i class="nc-icon nc-simple-add"></i>
                        </button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <section
                          class="container border mb-4 p-3"
                          *ngFor="let header of headers; let i = index"
                        >
                          <div class="row">
                            <div class="col-6">
                              <div class="form-group">
                                <label>Başlık</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  [(ngModel)]="header.header"
                                  name="header_{{ header.order }}"
                                  placeholder="Başlık Giriniz"
                                />
                              </div>
                            </div>
                            <div class="col-4">
                              <div class="form-group">
                                <label>Sıra</label>
                                <select
                                  class="form-control"
                                  (change)="changeSort()"
                                  [(ngModel)]="header.order"
                                  name="order_{{ header.order }}"
                                  placeholder="India"
                                >
                                  <option
                                    *ngFor="let i of orderlist; let i = index"
                                    [value]="i"
                                  >
                                    {{ i }}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="col-2">
                              <div class="form-group">
                                <label></label>
                                <button
                                  type="button"
                                  class="btn btn-danger btn-sm float-right"
                                  (click)="removeHeader(i)"
                                >
                                  <i class="nc-icon nc-simple-remove"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="left-side">
                      <button
                        type="button"
                        class="btn btn-default btn-link"
                        data-dismiss="modal"
                      >
                        Vazgeç
                      </button>
                    </div>
                    <div class="divider"></div>
                    <div class="right-side">
                      <button type="submit" class="btn btn-danger btn-link">
                        Kaydet
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div
            class="modal fade"
            id="templateEditModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="ModalLabel"
            aria-hidden="true"
          >
            <form
              #templateForm="ngForm"
              class="container mt-3"
              (ngSubmit)="updateTemplate()"
            >
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header justify-content-center">
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <i class="nc-icon nc-simple-remove"></i>
                    </button>
                    <h4 class="title title-up">Şablon Güncelle</h4>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-sm-6"></div>
                      <div class="col-sm-6">
                        <button
                          type="button"
                          class="btn btn-primary mb-2 float-right"
                          (click)="addUpdateHeader()"
                        >
                          <i class="nc-icon nc-simple-add"></i>
                        </button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <section
                          class="container border mb-4 p-3"
                          *ngFor="
                            let header of template.templateDetail;
                            let i = index
                          "
                        >
                          <div class="row">
                            <div class="col-6">
                              <div class="form-group">
                                <label>Başlık</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  [(ngModel)]="header.header"
                                  name="header_{{ header.order }}"
                                  placeholder="Başlık Giriniz"
                                />
                              </div>
                            </div>
                            <div class="col-4">
                              <div class="form-group">
                                <label>Sıra</label>
                                <select
                                  class="form-control"
                                  (change)="changeUpdateSort()"
                                  [(ngModel)]="header.order"
                                  name="order_{{ header.order }}"
                                  placeholder="India"
                                >
                                  <option
                                    *ngFor="let i of orderlist; let i = index"
                                    [value]="i"
                                  >
                                    {{ i }}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="col-2">
                              <div class="form-group">
                                <label></label>
                                <button
                                  type="button"
                                  class="btn btn-danger btn-sm float-right"
                                  (click)="removeUpdateHeader(i)"
                                >
                                  <i class="nc-icon nc-simple-remove"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="left-side">
                      <button
                        type="button"
                        class="btn btn-default btn-link"
                        data-dismiss="modal"
                      >
                        Vazgeç
                      </button>
                    </div>
                    <div class="divider"></div>
                    <div class="right-side">
                      <button type="submit" class="btn btn-danger btn-link">
                        Kaydet
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
