<div class="create-retro d-flex justify-content-end m-5 login-bg" style="background-image: url('assets/img/retro-bg.png')">
  <form [formGroup]="loginForm" (ngSubmit)="logIn()" class="create-retro__form">


    <h1 class="text-center mb-5">{{'member_login.title' | translate}}</h1>

    <!-- <div class="form-group " [ngClass]="{ 'input-group-focus': focus === true }">

      <label for="username">Takma Ad</label>
      <input [disabled]="isFailed" (blur)="clearError()" (focus)="clearError()" type="text" formControlName="alias"
        class="form-control" (focus)="focus1 = true" (blur)="focus1 = false" />

      <div
        *ngIf="(loginForm.get('alias').invalid && ( loginForm.get('alias').touched) || loginForm.get('alias').dirty)">
        <small *ngIf="loginForm.get('alias').errors?.required" class="text-danger">Takma ad giriniz</small>
        <small *ngIf="loginForm.get('alias').errors?.pattern" class="text-danger">Takma ad için sadece ingilizce karakterler giriniz</small>
      </div>
    </div> -->



    <div class="form-group " >

      <label for="username">Ad</label>
      <input [disabled]="isFailed" (blur)="clearError()" (focus)="clearError()" type="text" formControlName="name"
        class="form-control"  />

      <div
        *ngIf="(loginForm.get('name').invalid && ( loginForm.get('name').touched) || loginForm.get('name').dirty)">
        <small *ngIf="loginForm.get('name').errors?.required" class="text-danger">Ad giriniz</small>
      </div>
    </div>



    <div class="form-group " >

      <label for="username">Soyad</label>
      <input [disabled]="isFailed" (blur)="clearError()" (focus)="clearError()" type="text" formControlName="surname"
        class="form-control"  />

      <div
        *ngIf="(loginForm.get('surname').invalid && ( loginForm.get('surname').touched) || loginForm.get('surname').dirty)">
        <small *ngIf="loginForm.get('surname').errors?.required" class="text-danger">Soyad giriniz</small>
      </div>
    </div>



    <div class="d-flex justify-content-end">
      <button type="submit" [disabled]="isFailed"
        class="btn btn-theme btn-vertical-padding btn-horizontal-padding">GİRİŞ YAP</button>
    </div>

    <p class="text-center text-danger" *ngIf="errorMessage">
      {{errorMessage}}
    </p>
  </form>
</div>


