<div class="create-retro d-flex justify-content-end m-5" style="background-image: url('assets/img/retro-bg.png')">
  <form [formGroup]="loginForm" (ngSubmit)="logIn()" class="create-retro__form">


    <h1 class="text-center mb-5">GİRİŞ</h1>

    <div class="form-group " [ngClass]="{ 'input-group-focus': focus === true }">

      <label for="username">Takma Ad</label>
      <input [disabled]="isFailed" (blur)="clearError()" (focus)="clearError()" type="text" formControlName="alias"
        class="form-control" (focus)="focus1 = true" (blur)="focus1 = false" />

      <div
        *ngIf="(loginForm.get('alias').invalid && ( loginForm.get('alias').touched) || loginForm.get('alias').dirty)">
        <small *ngIf="loginForm.get('alias').errors?.required" class="text-danger">Takma ad giriniz</small>
      </div>
    </div>



    <div class="d-flex justify-content-end">
      <button type="submit" [disabled]="isFailed"
        class="btn btn-theme btn-vertical-padding btn-horizontal-padding">GİRİŞ YAP</button>
    </div>

    <p class="text-center text-danger" *ngIf="errorMessage">
      {{errorMessage}}
    </p>
  </form>
</div>


