<nav
  class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent"
>
  <div class="container">
    <div class="navbar-wrapper">
      <div class="navbar-toggle" (click)="sidebarToggle()">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand" [routerLink]="['/dashboard']">Workshop Pro</a>
    </div>
  </div>
</nav>

<div class="wrapper wrapper-full-page">
  <div
    class="full-page section-image"
    filter-color="black"
    data-image="../assets/img/bg/fabio-mangione.jpg"
  >
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="content">
      <div class="container">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <form [formGroup]="loginForm" (ngSubmit)="logIn()">
            <div class="card card-login">
              <div class="card-header">
                <div class="card-header">
                  <h3 class="header text-center">GİRİŞ</h3>
                </div>
              </div>
              <div class="card-body">
              
                <p class="text-center text-danger" *ngIf="errorMessage">
                  {{errorMessage}}
                </p>
                <div
                  class="input-group"
                  [ngClass]="{ 'input-group-focus': focus1 === true }"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="nc-icon nc-badge"></i>
                    </span>
                  </div>
                  <input
                  [disabled]="isFailed" 
                  (blur)="clearError()"
                  (focus)="clearError()"
                    type="text"
                    placeholder="Takma Ad"
                    formControlName="alias"
                    class="form-control"
                    (focus)="focus1 = true"
                    (blur)="focus1 = false"
                  />

             
             
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" 
                  class="btn btn-success btn-round btn-block"  [disabled]="isFailed" style="width: 100%;"
                  >GİRİŞ</button
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer footer-black footer-white">
      <div class="container">
        <div class="row">
          <div class="credits ml-auto">
            <span class="copyright">
              &copy; {{ test | date: "yyyy" }}, Workshop Pro
              <i class="fa fa-heart heart"></i>
            </span>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
