<div class="header d-flex justify-content-end align-items-center">
  <div class="header__navigation">
    
  
      <div class="header__toggle-sidebar">
        <button class="btn btn-icon-theme font-size-lg" id="toggleSidebar">
          <i class="fa fa-bars"></i>
        </button>
      </div>
    
    </div> 
  <div class="dropdown">
    <a class="btn  dropdown-toggle"  id="bell" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-bell"></i>
     
      <small  *ngIf="announcements.length>0" class="badge">({{announcements.length}})</small>
  </a>
    <div class="dropdown-menu dropdown-width" aria-labelledby="bell">
      <a class="dropdown-item"  *ngFor="let item of announcements">{{item.contentText}} </a>
      <a class="dropdown-item"  *ngIf="announcements.length==0"> Gelen bildirim bulunamadı </a>
     
    </div>
  </div>
  

 
  <div class="header__user">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="headerUserDropdown" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-user"></i>
        <span>Hoşgeldin, {{userName}}</span>
      </button>
      <div class="dropdown-menu w-100" aria-labelledby="headerUserDropdown" style="border-radius: 30px;">
       
        <a class="dropdown-item bg-transparent"  (click)="logout()">Çıkış Yap</a>
      </div>
    </div>
  </div>
</div>