<div class="logo">
  <a href="#" class="simple-text logo-mini">
    <div class="logo-image-small"></div>
  </a>

  <a href="#" class="simple-text logo-normal">
    Workshop PRO
  </a>
</div>

<div class="sidebar-wrapper" >
 
    
  <ul class="nav" >
    <li routerLinkActive="active" *ngFor="let menuitem of menuItems" >
      <!--If is a single link-->
      <a [routerLink]="[menuitem.path]" *ngIf="menuitem.type === 'link'">
        <i class="{{ menuitem.icontype }}"></i>
        <p>{{ menuitem.title }}</p>
      </a>
      <!--If it have a submenu-->
      <a
        data-toggle="collapse"
        href="#{{ menuitem.title }}"
        *ngIf="menuitem.type === 'sub'"
      >
        <i class="{{ menuitem.icontype }}"></i>
        <p>{{ menuitem.title }}<b class="caret"></b></p>
      </a>

      <!--Display the submenu items-->
      <div
        id="{{ menuitem.title }}"
        class="collapse"
        *ngIf="menuitem.type === 'sub'"
      >
        <ul class="nav">
          <li
            routerLinkActive="active"
            *ngFor="let childitem of menuitem.children"
          >
            <a [routerLink]="[menuitem.path, childitem.path]">
              <span class="sidebar-mini-icon">{{ childitem.ab }}</span>
              <span class="sidebar-normal">{{ childitem.title }}</span>
            </a>
          </li>
        </ul>
      </div>
    </li>



  </ul>
  <ul class="nav online-user "  >
   
    <div  *ngIf="users.length>0 && isLeader()" style="max-height:50vh; overflow-y: scroll;">
      <li *ngFor="let user of users"  >
        <a href="#" [ngClass]="onlineExist(user)"> 
            <i class="nc-icon nc-circle-10 " [ngClass]="onlineExist(user)"></i>
            <p class="hidden-md hidden-lg">
                {{user.userName}} 
            </p>
        </a>
      </li>
   </div>

  </ul>
</div>
