


<ul class="header__retro-navigation tab-progress" *ngIf="isUser"  #widgetsContent role="tablist">
  <li class="navigation-item active">
    <a class="navigation-link select-subject"   [ngClass]="{'active':currentTab=='.select-subject'}"
      >
      Konu Seç
    </a>
  </li>
  <li class="navigation-item">
    <a class="navigation-link select-template"   [ngClass]="{'active':currentTab=='.select-template'}"
     >
      Şablon Seç
    </a>
  </li>

  <li class="navigation-item">
    <a class="navigation-link brainstorm"  [ngClass]="{'active':currentTab=='.brainstorm'}"
      >
      Fikir Geliştir
    </a>
  </li>
  <li class="navigation-item">
  
    <a class="navigation-link categorize"  [ngClass]="{'active':currentTab=='.categorize'}"
      >
      Kategorize Et
    </a>
  </li>
  <li class="navigation-item">
    <a class="navigation-link comments"   [ngClass]="{'active':currentTab=='.comments'}">
      Yorum Yap
    </a>
  </li>

  <li class="navigation-item">
    <a class="navigation-link vote"   [ngClass]="{'active':currentTab=='.vote'}" >
      Oyla
    </a>
  </li>

  <li class="navigation-item">
    <a class="navigation-link idea-archive"  [ngClass]="{'active':currentTab=='.idea-archive'}"
      >
      Raporla
    </a>
  </li>
</ul>
       
<ul class="header__retro-navigation tab-progress custom-slider-main" #widgetsContent role="tablist" *ngIf="!isUser">
  <li class="navigation-item active">
    <a class="navigation-link select-subject"   [class.disabled]="pathIndex==0?false:true"   [ngClass]="{'active':currentTab=='.select-subject'}"
      (click)="clickTab('select-subject')">
      Konu Seç
    </a>
  </li>
  <li class="navigation-item">
    <a class="navigation-link select-template"  [class.disabled]="pathIndex>1?true:false"   [ngClass]="{'active':currentTab=='.select-template'}"
      (click)="clickTab('select-template')">
      Şablon Seç
    </a>
  </li>

  <li class="navigation-item">
    <a class="navigation-link brainstorm"   [class.disabled]="pathIndex>2?true:false"  [ngClass]="{'active':currentTab=='.brainstorm'}"
      (click)="clickTab('brainstorm')">
      Fikir Geliştir
    </a>
  </li>
  <li class="navigation-item">
  
    <a class="navigation-link categorize" [class.disabled]="pathIndex>3?true:false"  [ngClass]="{'active':currentTab=='.categorize'}"
      (click)="clickTab('categorize')">
      Kategorize Et
    </a>
  </li>
  <li class="navigation-item">
    <a class="navigation-link comments"   [class.disabled]="pathIndex>4?true:false"   [ngClass]="{'active':currentTab=='.comments'}" (click)="clickTab('comments')">
      Yorum Yap
    </a>
  </li>

  <li class="navigation-item">
    <a class="navigation-link vote"  [class.disabled]="pathIndex>5?true:false"    [ngClass]="{'active':currentTab=='.vote'}" (click)="clickTab('vote')">
      Oyla
    </a>
  </li>

  <li class="navigation-item">
    <a class="navigation-link idea-archive"  [class.disabled]="pathIndex>6?true:false"     [ngClass]="{'active':currentTab=='.idea-archive'}"
      (click)="clickTab('idea-archive')">
      Raporla
    </a>
  </li>
</ul>

<div class="mb-3 mt-4 card card-theme box-shadow" *ngIf="isShow &&  selectSubject.subjectTitle">
  <div class="card-body">
    <h3 class="card-title">{{ selectSubject.subjectTitle }}</h3>
    <p class="card-description">
      {{ selectSubject.subjectDescription }}
    </p>
  </div>
</div>


<div class="row">
  <div class="col-md-12 ml-auto mr-auto">

    <div>
      <div *ngIf="currentTab=='.select-subject'" id="select-subject">
        <subject-list-cmp></subject-list-cmp>
      </div>
      <div *ngIf="currentTab=='.select-template'" id="select-template">
        <schema-cmp></schema-cmp>
      </div>
      <div *ngIf="currentTab=='.brainstorm'" id="brainstorm">
        <brainstorm-cmp></brainstorm-cmp>
      </div>
      <div *ngIf="currentTab=='.comments'" id="comments">
        <comments-cmp></comments-cmp>
      </div>
      <div *ngIf="currentTab=='.categorize'" id="categorize">
        <app-categorized-cmp></app-categorized-cmp>
      </div>
      <div *ngIf="currentTab=='.vote'" id="vote">
        <app-vote-cmp></app-vote-cmp>
      </div>
      <div *ngIf="currentTab=='.idea-archive'" id="idea-archive">
        <app-report-cmp></app-report-cmp>
      </div>
    </div>

  </div>
</div>