<div class="main-content">


 

  <div class="row">
    <div class="col-md-12 ml-auto mr-auto">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">RETRO BAŞLAT</h5>
        </div>
        <div class="card-body" >
          <form #configForm="ngForm"  class="container mt-3" (ngSubmit)="saveConfig()">
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label>Fikir Hakkı Sayısı</label>
                  <input type="number" [disabled]="isCheckFailed()" class="form-control" [(ngModel)]="config.ideaRight"
                    [ngModelOptions]="{ standalone: true }" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label>Yorum Hakkı Sayısı</label>
                  <input type="number" [disabled]="isCheckFailed()" class="form-control" [(ngModel)]="config.commentRight"
                    [ngModelOptions]="{ standalone: true }" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label>Oylama Hakkı Sayısı</label>
                  <input type="number" [disabled]="isCheckFailed()" class="form-control" [(ngModel)]="config.voteRight"
                    [ngModelOptions]="{ standalone: true }" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6"></div>
              <div class="col-sm-6 right-side">
                <button type="submit" [disabled]="isCheckFailed()"  class="btn btn-round btn-success btn-lg float-right">
                  Başlat
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

