@import "../abstracts/variables";
@import "../abstracts/mixins";

.create-retro {
  height:100vh;

  background-repeat: no-repeat;
  // background-position: left;
  background-size: auto;
  display: flex;
  align-items: center;

  @include respond($to-tablet-portrait) {
    justify-content: center !important;
  }

  &__form {
    background: $color-white;
    padding: 2.5rem;
    border-radius: .5rem;
    width: 50%;
    max-width: 750px;

    @include respond($to-tablet-portrait) {
      width: 75%;
    }

    @include respond($to-mobile) {
      width: 100%;
    }
  }
}
