<div class="d-flex align-items-center justify-content-between  mb-3  mt-4 users-header ">
  
  <h3 class=" mb-0">Kullanıcılar</h3>
  <button class="btn btn-theme btn-vertical-padding btn-horizontal-padding-md" (click)="newUser()">
    Kullanıcı Ekle
  </button>
</div>
<div class="d-flex align-items-center justify-content-between mb-2 users-header ">
  <div class="users-details">
    <span class="pill-title text-bold"
      [ngClass]="{'text-success': getLeaderCount()>0, 'text-danger':getLeaderCount()<=0 }">Lider Hakkı: {{ getLeaderCount()
      }}</span>
    <span class="pill-title mr-2 text-bold"
      [ngClass]="{'text-success': getUserLeader()>0, 'text-danger':getUserLeader()<=0 }">Retro Hakkı: {{ getUserLeader()
      }}</span>
    
  </div>
  <div class="add-user">
    <div class="form-group" style="margin-right: 0 !important;">

      <select class="form-control" (change)="changeUserType()" [(ngModel)]="userType"
        [ngModelOptions]="{ standalone: true }">
        <option value="Leader">Lider</option>
        <option value="Member">Üye</option>
      </select>

    </div>
   
  </div>
</div>

<div class="card card-theme">
  <div class="table-responsive">
    <table class="table w-100 table-theme">
      <thead>
        <tr>
          <th>Kullanıcı Adı</th>
          <th>Şifre</th>
          <th>Statü</th>
          <th  class="text-center">İşlemler</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of users">
          <td>{{ row.userName }}</td>
          <td>{{ row.rawPassword }}</td>
          <td>{{ row.statu }}</td>

          <td class="text-center">
            <button (click)="editUser(row.id)" class="btn btn-default btn-icon-theme"><i class="fa fa-pencil"></i>
            </button>

            <button (click)="
                showSwal(
                  'warning-message-and-confirmation-delete',
                  row.id
                )
              " type="button" class="btn btn-default btn-icon-theme">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <form #templateForm="ngForm" (ngSubmit)="saveUser()">

    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"> {{ isUpdate ? "Kullanıcı Güncelle" : "Kullanıcı Ekle" }}
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="#">
            <div class="form-group">
              <label>Şirket</label>
              <select class="form-control" disabled [(ngModel)]="user.companyId"
                [ngModelOptions]="{ standalone: true }">
                <option value="" selected>Şirket Seçiniz</option>
                <option [value]="company.id" *ngFor="let company of companys">{{company.companyName}}</option>

              </select>
            </div>
            <div class="form-group">
              <label>Kullanıcı Adı</label>
              <input style="max-height: max-content" rows="10" class="form-control textarea" [(ngModel)]="user.userName"
                [ngModelOptions]="{ standalone: true }" />
            </div>

            <div class="form-group">
              <label>Şifre</label>
              <input type="text" style="max-height: max-content" rows="10" class="form-control"
                [(ngModel)]="user.rawPassword" [ngModelOptions]="{ standalone: true }" />
            </div>

            <div class="form-group">
              <label>Statü</label>

              <select class="form-control" disabled [(ngModel)]="user.statu" [ngModelOptions]="{ standalone: true }">
                <option value="" selected>Statü Seçiniz</option>

                <option value="Leader">Lider</option>
                <option value="Member">Üye</option>
              </select>

            </div>
          </form>
        </div>
        <div class="modal-footer d-flex align-items-center">
          <button type="button" class="btn btn-default btn-outline-theme btn-block btn-vertical-padding"
            data-dismiss="modal">Vazgeç
          </button>
          <button type="submit" class="btn btn-theme btn-block mt-0 btn-vertical-padding justify-content-center">
            Kaydet
          </button>
        </div>
      </div>
    </div>
  </form>
</div>




