

<ul class="header__retro-navigation tab-progress custom-slider-main" #widgetsContent role="tablist" >
  <li class="navigation-item active">
    <a class="navigation-link template subject"     [class.active]="isActive('/current/subject')"
    (click)="clickTab('/current/subject',true)"
      >
      Konu Seç
    </a>
  </li>
  <li class="navigation-item">
    <a class="navigation-link  template"    [class.active]="isActive('/current/template')"
      (click)="clickTab('/current/template',true)"
     >
      Şablon Seç
    </a>
  </li>

  <li class="navigation-item">
    <a class="navigation-link  brainstorm"    [class.active]="isActive('/current/brainstorm')"
      (click)="clickTab('/current/brainstorm',true)"
      >
      Fikir Geliştir
    </a>
  </li>
  <li class="navigation-item">
  
    <a class="navigation-link  categorize"   [class.active]="isActive('/current/categorize')"
      (click)="clickTab('/current/categorize',true)"
      >
      Kategorize Et
    </a>
  </li>
  <li class="navigation-item">
    <a class="navigation-link  categorize"  [class.active]="isActive('/current/comment')"
      (click)="clickTab('/current/comment',true)">
      Yorum Yap
    </a>
  </li>

  <li class="navigation-item">
    <a class="navigation-link  comment"     [class.active]="isActive('/current/vote')"
      (click)="clickTab('/current/vote',true)">
      Oyla
    </a>
  </li>

  <li class="navigation-item">
    <a class="navigation-link  vote report finish"   [class.active]="isActive('/current/report')"
      (click)="clickTab('/current/report',true)"
      >
      Raporla
    </a>
  </li>
</ul>