


<div class="d-flex align-items-center justify-content-between mb-3 mt-4">
  <h3 class=" mb-0">Konular</h3>
<button class="btn btn-theme btn-vertical-padding btn-horizontal-padding-md" data-toggle="modal"
  data-target="#addModal">Konu Ekle </button>
</div>



<div class="card card-theme">
  <div class="table-responsive">
    <table class="table w-100 table-theme">
      <thead>
        <tr>
          <th>Konu</th>

          <th class="text-right">İşlemler</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of subjects">
          <td>
            <div class="d-flex align-items-center" style="padding: .375rem 0;">
              {{ row.subjectTitle }}
            </div>
          </td>
          <td>
           <div class="d-flex align-items-center justify-content-end">
            <button class="btn btn-default btn-icon-theme" (click)="getRetro(row.id)"><i
              class="fa fa-chart-bar"></i></button>

            <button class="btn btn-default btn-icon-theme" (click)="editSubject(row.id)"><i
              class="fa fa-edit"></i></button>
          <button class="btn btn-default btn-icon-theme" (click)="
        showSwal(
          'warning-message-and-confirmation-delete',
          row.id
        )
      "><i class="fa fa-trash"></i></button>
           </div>
          </td>
        </tr>


      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <form #templateForm="ngForm" (ngSubmit)="saveSubject()">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"> {{ isUpdate ? "Konu Güncelle" : "Konu Ekle" }} </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label>Şirket</label>
            <select class="form-control" disabled [(ngModel)]="subject.companyId"
              [ngModelOptions]="{ standalone: true }">
              <option value="" selected>Şirket Seçiniz</option>
              <option [value]="company.id" *ngFor="let company of companys">{{company.companyName}}</option>

            </select>

          </div>
          <div class="form-group">
            <label>Başlık</label>
            <input style="max-height: max-content" rows="10" class="form-control textarea"
              [(ngModel)]="subject.subjectTitle" [ngModelOptions]="{ standalone: true }" />
          </div>
          <div class="form-group">
            <label>Detay</label>
            <textarea style="max-height: max-content" rows="10" class="form-control textarea"
              [(ngModel)]="subject.subjectDescription" [ngModelOptions]="{ standalone: true }"></textarea>
          </div>

        </div>
        <div class="modal-footer d-flex align-items-center">
          <button type="button" class="btn btn-default btn-outline-theme btn-block btn-vertical-padding"
            data-dismiss="modal">Vazgeç
          </button>
          <button type="submit" class="btn btn-theme btn-block mt-0 btn-vertical-padding justify-content-center">
            Kaydet
          </button>
        </div>
      </div>
    </div>
  </form>
</div>