
<div class="d-flex align-items-center justify-content-between mb-3 mt-4">
    <h3 class=" mb-0">Gruplar</h3>
  <button class="btn btn-theme btn-vertical-padding btn-horizontal-padding-md" data-toggle="modal"
    data-target="#addModal">Grup Ekle</button>
</div>

<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-12 mb-4" *ngFor="let group of groups">
    <div class="card card-theme">
      <div class="group-card">
        <h3 class="group-card__title">{{group.group.groupName}}</h3>
        <div class="group-card__description">{{group.leader.userName}}</div>
        <div class="d-flex justify-content-between align-items-center">

          <span class="group-card__status text-success" *ngIf="group.group.state>1">Tamamlandı</span>
          <span class="group-card__status text-primary" *ngIf="group.group.state==1">Başladı</span>
          <span class="group-card__status text-danger" *ngIf="group.group.state==0">Başlamadı</span>


          <div class="group-card__actions">
            <button class="btn btn-default btn-icon-theme" (click)="editGroup(group.group)"><i
                class="fa fa-edit"></i></button>
            <button class="btn btn-default btn-icon-theme" (click)="removeGroup(group.group)"><i
                class="fa fa-trash"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <form  [formGroup]="groupCreateForm" class="container mt-3" (ngSubmit)="saveUser()">

    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{ isUpdate ? " Grup Güncelle" : "Grup Ekle" }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label>Şirket</label>
            <select class="form-control"  disabled formControlName="companyId" >
              <option value="" selected>Şirket Seçiniz</option>
              <option [value]="company.id" *ngFor="let company of companys">{{company.companyName}}</option>

            </select>

            <div
            *ngIf="(groupCreateForm.get('companyId').invalid && ( groupCreateForm.get('companyId').touched) || groupCreateForm.get('companyId').dirty)">
            <div class="text-danger mt-1" *ngIf="groupCreateForm.get('companyId').errors?.required ">
              Şirket seçiniz
            </div>
          </div>
          </div>
          <div class="form-group">
            <label>Grup Adı</label>
            <input class="form-control"  formControlName="groupName"  />
            <div
            *ngIf="(groupCreateForm.get('groupName').invalid && ( groupCreateForm.get('groupName').touched) || groupCreateForm.get('groupName').dirty)">
            <div class="text-danger mt-1" *ngIf="groupCreateForm.get('groupName').errors?.required ">
              Grup adı giriniz
            </div>
          </div>
          </div>
          <div class="form-group">
            <label>Lider</label>
            <select class="form-control"  formControlName="leaderId" >
              <option *ngFor="let user of users" [value]=user.id> {{user.userName}} </option>
            </select>

            <div
            *ngIf="(groupCreateForm.get('leaderId').invalid && ( groupCreateForm.get('leaderId').touched) || groupCreateForm.get('leaderId').dirty)">
            <div class="text-danger mt-1" *ngIf="groupCreateForm.get('leaderId').errors?.required ">
              Lider seçiniz
            </div>
          </div>
          </div>

        </div>
        <div class="modal-footer d-flex align-items-center">
          <button type="button" class="btn btn-default btn-outline-theme btn-block btn-vertical-padding"
            data-dismiss="modal">Vazgeç</button>
          <button type="submit" [disabled]="groupCreateForm.invalid" class="btn btn-theme btn-block mt-0 btn-vertical-padding justify-content-center">Kaydet</button>
        </div>
      </div>
    </div>
  </form>
</div>

